.resume-sec{
    background: url('https://cdn.pixabay.com/photo/2023/10/11/13/41/ship-8308680_640.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90Vh;
}
