.navbar{
    height: 50px;
    width: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-div input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.navbar-div i{
    font-size: 40px;
}