.Header-sec{
    background: url('https://cdn.pixabay.com/photo/2023/12/08/23/46/cat-8438334_1280.jpg');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}